# eclipse
bin/
*.launch
.settings
.metadata
.classpath
.project

# idea
out/
*.ipr
*.iws
*.iml
.idea/

# gradle
build/
.gradle/

# other
run/

# Files from Forge MDK
forge*changelog.txt
src/generated/resources/.cache/cache

# Changed to loom
logs/
output/
libs/
classes/
.vscode

build.gradle-old
gradle.properties-old
src-old/
